<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Quiz Page</ion-title>

    <!-- Icon on top right of page -->
    <ion-button [routerLink]="['/settings']" slot="end">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="quiz-content">
  <!-- Only shows when myQuestions has been loaded -->
  <div class="quiz-box" *ngIf="myQuestions[randomQ]">

    <!-- Displays the time limit -->
    <h2 *ngIf="timerEnabled">Time left: {{ timeLimit }}s</h2>

    <!-- Display the Question and choices -->  
    <h2>{{myQuestions[randomQ].question}}</h2>
    
      <!-- 2x2 Grid -->
      <div class="answer-grid">
        <ion-button class="answerBtn" [color]="btnA" [disabled]="disableA" (click)="checkAnswerA()">{{myQuestions[randomQ].A}}</ion-button>
        <ion-button class="answerBtn" [color]="btnB" [disabled]="disableB" (click)="checkAnswerB()">{{myQuestions[randomQ].B}}</ion-button>
        <ion-button class="answerBtn" [color]="btnC" [disabled]="disableC" (click)="checkAnswerC()">{{myQuestions[randomQ].C}}</ion-button>
        <ion-button class="answerBtn" [color]="btnD" [disabled]="disableD" (click)="checkAnswerD()">{{myQuestions[randomQ].D}}</ion-button>
      </div>
      
      <p>Answer: {{myQuestions[randomQ].answer}}</p>
  </div>
</ion-content>