<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home Page
    </ion-title>

    <!-- Icon on top right of page -->
    <ion-button [routerLink]="['/settings']" slot="end">
      <ion-icon name="settings-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <!-- White border box -->
    <div class="start-box">
      <ion-button class="startBtn" size="large" shape="round" [routerLink]="['/quiz']">
        Start Game
      </ion-button>

      <!-- Browser button - Tried to do toast, notifications and status bar and none seemed to work -->
      <ion-button class="startBtn" (click)="openWebsite()" expand="full">
        Open Moodle Page
      </ion-button>
    </div>
  </div>
</ion-content>
