#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 75%;
  transform: translateY(-50%);
}

ion-header {
  --background: transparent;
}

ion-toolbar {
  --background: transparent;
  color: white;
}

ion-content {
  --background: linear-gradient(225deg, purple 30%, blue);
}

ion-button {
  --color: white;
  --background: linear-gradient(270deg,teal,red);
}